body {
    text-align: center;
}

li {
    list-style-type: none;
}

.start {
    background-color: white;
}

.warm {
    background-color: orange;
}

.hot {
    background-color: #E41B17;
}

.cold {
    background-color: #82CAFA;
}
}
